@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
}

header{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Lago_Igap%C3%B3_Londrina.jpg/960px-Lago_Igap%C3%B3_Londrina.jpg?20161029144533);
    height: 100vh;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.headerBarOn{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 14vh;
    align-items: center;
    justify-content: space-between;
    color: rgb(39, 39, 39);
    position: fixed;
    transition: all ease 0.5s;
    top: 0;
}
    .headerBarOn.headerBarOff{
        top: -20vh;
        transition: all ease 0.5s;
    }
#logo{
    display: flex;
    width: 31%;
    margin: 6%;
    color: rgb(39, 39, 39);
    font-family: "Barlow", sans-serif;
}
#menuButton{
    margin: 10px;
    font-size: 27px;
}


#descobrir{
    position: absolute;
    bottom: 78px;
    align-self: center;
    width: 30vw;
    height: 5vh;
    background-color: wheat;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(39, 39, 39);
}


.swiper {
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.swiper-button-next::after{
        color: white;
        text-shadow: black 4px 3px 3px;
    }
    .swiper-button-prev::after{
        color: white;
        text-shadow: black 4px 3px 3px;
    }
.swiper-slide{
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.slideText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
   
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px); /* Sobe */
  }
  100% {
    transform: translateY(0px); /* Volta à posição original */
  }
}
    .descobrirSlide{
        align-self: flex-end;
        align-self: flex-start;
        margin-top: 30%;
        color: white;
        font-size: 20px;
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
        .descobrirSlide h1{
            margin-top: 10px;
            text-shadow: black 3px 3px 3px;
        }
        .slideButton{
            margin-bottom: 50px;
            width: 60%;
            height: 7%;
            background-color: rgba(245, 222, 179, 0.411);
            color: rgb(19, 19, 19);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            animation: float 7.5s infinite;

        }


#slide1{
    background-image: url(../src/media/part.jpg);
    background-position: center;
    background-size: cover;
}
#slide2{
    background-image: url(../src/media/camping.jpg);
    background-position: center;
    background-size: cover;
}
#slide3{
    background-image: url(../src/media/culinaria.jpg);
    background-position: center;
    background-size: cover;
}
#slide4{
    background-image: url(../src/media/familia.jpg);
    background-position: right;
    background-size: cover;
}
#slide5{
    background-image: url(../src/media/museu.jpg);
    background-position: right;
    background-size: cover;
}
#slide6{
    background-image: url(../src/media/feira.jpg);
    background-position: right;
    background-size: cover;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divContent{
    width: 100%;
}

#eventos{
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f1f7ff;
}
    #eventos h2{
        margin: 20px 0px 0px 9px;
        align-self: center;
    }
#lista-eventos{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    border:solid black 0.5px; ;
}
    #ulEvent li{
        list-style-type: none;
    }
        #ulEvent li a{
            text-decoration: none;
            color: rgb(12, 12, 12);
            
        }
#expoLondrina{
    background-color: #007d4b;
}

#expoTexts{
    /*background-color: rgba(17, 105, 17, 0.788);*/
    background-color: #007d4b;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-self: flex-end;
    color: white;
}
    #expoTexts h2,h3, p{
        margin: 7px 0px 0px 8px;
        text-align: left;
    }
    #expoTexts img{
        width: 100%;
    }
#iconsExpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
    margin: 20px 0px 20px 0px;
}
    .iconEx{
        background-color: #015c37;
        padding: 5px;
        width: 34%;
        text-align: center;
        border-radius: 25px;
        border: solid white 0.5px;
    }
#expoText2{
    color: white;
    width: 100%;
    padding: 8px 0px 5px 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
    #saberMaisExpo{
        background-color: #daedfe;
        display: flex;
        width: 40%;
        height: 50px;
        justify-self: flex-start;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: solid white 0.5px;
        font-size: 17px;
        color: #007d4b;
        margin: 10px 0px 20px 9px;
    }
.hr {
  width: 80%; height: 1px; 
  background-color: #d1d1d1;
  margin-top: 20px;
}



#feiras{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
    #img1{
        width: 80%;
        align-self: flex-end;
        margin: 70px 10px 3px 0px;
        border-radius: 5px;
    }
    #img2{
        width: 66%;
        align-self: flex-start;
        margin: 20px 0px 10px 9px;
        padding-top: 40px;
        border-radius: 5px;
    }
    #feiras h1{
        margin:50px 0px 3px 9px ;
        align-self: flex-start;
    }
    #pFeira1{
        margin:1px 0px 3px 9px ;
        align-self: flex-start;
    }
    #pFeira2{
        margin:20px 1px 1px 60px ;
        align-self: flex-end;
    }
    #mapFeiras{
        background-image: linear-gradient(to right, rgb(43, 110, 43), rgba(43, 110, 43, 0));
        align-self: self-start;
        margin-left: 9px;
        padding: 4px;
        width: 66%;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 4px;
        text-align: left;
        color: white;
    }
@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.71);
  }
  100% {
    transform: scale(1);
  }
}
    #touch{
        animation: clickEffect 1.8s infinite;
    }
    
